h1,
h2,
h3 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    padding-top: 1em;
}

h3 {
    padding-top: 1em;
}

p {
    font-family: "Shadows into Light", cursive;
    font-size: 3em;
    font-kerning: auto;
}

img {
    overflow: auto;
    max-width: 500px;
}

div {
    margin: 0 auto;
}

body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-position: center;
}